<div class="flex flex-column">
  <app-header></app-header>

  <div class="flex justify-content-center">
    <div class="container">
      <div
        class="mt-2 h-3rem w-full bg-blue-50 border-blue-200 border-1 border-50 border-round-xl flex justify-content-center align-items-center mb-5">
        <span class="text-blue-800 text-sm p-3">
          CoreHarmonia не&nbsp;заменяет врача и&nbsp;не&nbsp;ставит диагнозы. При тревожных симптомах обратитесь к&nbsp;врачу.
        </span>
      </div>

      <div class="mb-5">
        <h2 class="text-xl mb-2">Выберите категорию</h2>
        <p class="text-slate-600">Начните чат с&nbsp;AI-ассистентом по&nbsp;интересующей вас теме</p>
      </div>

      <div class="d-grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      	@for (card of cards$ | async; track card) {
      			<app-health-card
              [title]="card.title"
              [subTitle]="card.description"
              [icon]="card.category"
              (healthCardEmit)="onHealthCard(card)"
            ></app-health-card>
      	}
      </div>
    </div>
  </div>
</div>
