$primary: #107894;
$bg-dark: #172646;
$text-light: #e9eceb;
$input-bg: #122943;
$placeholder: #889ca8;
@use 'sass:color';
@use '../../../../styles/variables' as *;

.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: $color-card;
  padding: 32px;
  width: 340px;
  border-radius: 12px;
  box-shadow: -12px 11px 23px -6px rgba(14, 21, 38, 0.53);
  -webkit-box-shadow: -12px 11px 23px -6px rgba(14, 21, 38, 0.53);
  -moz-box-shadow: -12px 11px 23px -6px rgba(14, 21, 38, 0.53);
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border;

  h1 {
    color: $color-text;
    font-size: 25px;
    text-align: center;
    margin-bottom: 24px;
  }

  .forgot-pass {
    color: $color-text;
  }

  .sign-up {
    color: $color-accent;
  }

  .links {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    a {
      color: $placeholder;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: color.scale($placeholder, $lightness: 10%);
      }
    }
  }
}