<div class="container">
  <div class="circle center">Я</div>
  <div class="circle top">СОН</div>
  <div class="circle right">ГОРМОНЫ</div>
  <div class="circle left">ПИТАНИЕ</div>
  <div class="circle bottom-right">ПСИХИКА</div>

  <div style="transform: rotate(180deg); position: absolute; top: 60%; left: 41%">
    <img width="300" height="300" ngSrc="assets/nero.svg" alt="nero">
  </div>

  <div style="transform: rotate(65deg); position: absolute; top: 36%; left: 59%">
    <img width="300" height="300" ngSrc="assets/nero.svg" alt="nero">
  </div>

  <div style="transform: rotate(0deg); position: absolute; top: 21%; left: 46%">
    <img width="300" height="300" ngSrc="assets/nero.svg" alt="nero">
  </div>

  <div style="transform: rotate(-62deg); position: absolute; top: 32%; left: 33%">
    <img width="300" height="300" ngSrc="assets/nero.svg" alt="nero">
  </div>
</div>
