<button
	class="p-5 text-accentForeground border-round-xl
	flex flex-column cursor-pointer transition-all duration-200 hover:scale-105 hover:shadow-lg overflow-hidden relative
"
  [ngClass]="ChatBgClass[icon]"
	(click)="openChat()"
>
  <div class="flex">
    <div class="h-3rem w-3rem border-circle text-white mr-2 flex align-items-center justify-content-center">
      <img class="bg-cover" [src]="'assets/chats-category-icons/' + ChatIconByCategory[icon]" alt="">
    </div>

    <div class="flex flex-column">
      <p class="w-full text-left text-lg">{{title}}</p>

      <p class="w-full text-left">{{subTitle}}</p>
    </div>
  </div>

  <div class="flex justify-content-between mt-3">
    <span class="bg-secondary text-secondaryForeground text-xs px-1 border-round-lg">
      AI-помощник
    </span>

    <i class="pi pi-comment"></i>
  </div>


<!--  <span class="absolute top-0 right-0">скоро</span>-->
</button>
