<div class="bg-blue-50 h-screen flex flex-column justify-content-between">
  <header class="container-header w-full flex justify-content-center bg-white flex-column align-items-center p-3">
    <div class="header flex justify-content-between align-items-center mb-3">
      <div class="flex align-items-center">
        <a
          pButton
          [outlined]="true"
          rounded
          class="border-0 p-0"
          routerLink="/"
        >
          <i pButtonIcon class="pi pi-arrow-left text-xs text-card-foreground"></i>
        </a>

        <div class="flex flex-column">
          <h4 class="text-lg">Опросник</h4>
          <p class="p-0 text-sm">Вопрос 1 из 3</p>
        </div>
      </div>
      <div class="flex justify-content-end align-items-center">
        <app-translate-button></app-translate-button>
      </div>
    </div>

    <p-progress-bar color="black" [showValue]="false" [value]="50" class="bar" />
  </header>

  <main class="w-full flex justify-content-center h-full p-3">
    <app-radio-button-question></app-radio-button-question>
  </main>
</div>
