<div class="flex align-items-center w-full h-5rem px-4 py-2 border-bottom-1 header">
	<div class="flex align-items-center justify-content-between w-full">
		<div class="flex align-items-center">
			<img
				ngSrc="assets/logo.png" alt="" height="50" width="50"
				class="mr-2"
			>
			<div class="">
				<p>CORE</p>
				<p>HARMONIA</p>
			</div>
		</div>

		<div class="flex align-items-center">
			<ol class="flex list-none">
				<li class="mr-2">
					Главная
				</li>
				<li class="mr-5">Дневник</li>
				<li>

				</li>
			</ol>
		</div>
	</div>
</div>