<div class="bg-purple-50 w-screen h-screen flex align-items-center justify-content-center">
  <div class="p-4 bg-white w-28rem border-round-xl">
    <div class="flex flex-column align-items-center justify-content-center mb-3">
      <h4 class="text-4xl mb-2 bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent main-gradient-color">Core Harmonia</h4>
      <p class="my-1 text-center line-height-3 text-slate-600">Добро пожаловать в ваш персональный медицинский помощник</p>
    </div>

    <app-login-form></app-login-form>

    <div class="flex justify-content-center align-content-end">
      <p class="text-sm flex align-items-end">Нет аккаунта?&nbsp;</p>
      <a class="cursor-pointer color-purple-600 underline">Зарегистрироваться</a>
    </div>
  </div>
</div>
